{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": "off",
    "indent": ["error", 4],
    "max-len": ["error", 120],
    "react/jsx-indent": ["error", 4],
    "react/jsx-filename-extension": "off"
  }
}
